@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Eurostile';
  src: url('/font/EurostileLTStd-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBook';
  src: url('/font/Futura.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --yellow: rgba(255, 243, 73, 1);
  --green: rgba(0, 144, 53, 1);
  --red: rgba(219, 0, 4, 1);
}

*::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @apply px-6 py-24;
}

nav {
  @apply fixed z-30 top-0 left-0 w-full px-4 py-6 md:p-6 flex flex-wrap justify-between md:justify-center items-center gap-0 md:gap-12 text-xl md:text-[28px] pointer-events-none font-medium;

  > * {
    @apply pointer-events-auto;
  }

  svg {
    @apply h-7 md:h-auto ml-1 md:ml-0;
  }

  button {
    @apply mt-[3px] md:mt-[6px];
  }
}

/**/

/* a {
  @apply underline;
} */

/**/

/* button {
  @apply bg-gray-200 px-1 rounded;

  &:hover {
    @apply bg-gray-300;
  }
} */

.title {
  font-family: 'Eurostile', sans-serif;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.serif {
  font-family: "Times", "Times New Roman", serif;
}

.futura {
  font-family: "FuturaBook", "Futura", sans-serif;
  letter-spacing: -0.05em;
  line-height: 1.2;
}

/**/

.menu {
  height: 100vh;
  height: 100dvh;
  @apply fixed top-0 left-0 z-20 w-full p-6 flex items-center justify-center bg-white bg-opacity-20 backdrop-blur-lg font-medium md:font-normal transition-opacity duration-300;

  &.transparent {
    @apply bg-transparent backdrop-blur-none pointer-events-none;
  }

  &.hide {
    @apply opacity-0 pointer-events-none select-none;

    * {
      @apply pointer-events-none;
    }
  }
}

.menu-section {
  height: 100vh;
  height: 100dvh;
  @apply fixed top-0 left-0 w-full p-6 flex items-center justify-center;
}

.cart {
  @apply fixed top-0 right-0 z-20 h-screen w-full p-6 pt-24 flex items-start justify-center gap-4 text-xl;

  .modal {
    @apply relative bg-white bg-opacity-30 backdrop-blur-lg w-full h-auto max-w-sm rounded-xl p-6 overflow-hidden;
  }
}

.interlude {
  @apply fixed top-0 left-0 z-40 h-screen w-full md:flex items-center justify-center bg-black bg-opacity-90 backdrop-blur-sm text-white transition-opacity duration-300;

  > div {
    height: 100vh;
    height: 100dvh;
    @apply w-full md:w-auto md:p-24;
  }
  
  img {
    @apply w-full h-full object-contain;
  }

  &.hide {
    @apply opacity-0 pointer-events-none select-none;
  }
}

.tint {
  @apply w-full h-full absolute top-0 left-0 pointer-events-none select-none;
}

.shop {
  @apply w-full grid grid-cols-1 md:grid-cols-3 gap-24 md:px-4 transition-opacity duration-300;

  &.hide {
    @apply opacity-0 pointer-events-none select-none;
  }
}

.page {
  @apply absolute md:fixed top-0 left-0 md:px-6 w-full md:h-screen flex flex-col-reverse md:grid md:grid-cols-3 md:gap-6 pb-40 md:pb-0 pt-24 md:pt-0;
}

.editorial {
  @apply w-full -mb-24;

  .hero {
    @apply w-screen -ml-6 md:-ml-0 md:w-full md:h-screen md:-mt-24 md:grid md:grid-cols-[1fr_2fr_1fr] md:gap-12 md:items-center;
  }

  .index {
    @apply w-screen -ml-6 md:grid md:grid-cols-2 pt-16 md:pt-0;
  }
}

.additional {
  @apply w-full font-medium p-6;

  > div {
    @apply w-full max-w-3xl mx-auto text-lg;
  }
}

.loader {
  @apply fixed top-0 left-0 z-50 w-full h-screen flex items-center justify-center;
}